@model IEnumerable<Techan.ViewModels.Products.ProductListVM>
@{
	int order = 1;
}
@section styles{

}
<section class="content-main">
	<div class="content-header">
		<h2 class="content-title">Brand list </h2>
		<a asp-action="Create" class="btn btn-primary">Create</a>
	</div>
	<div class="card mb-4">
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#ID</th>
							<th scope="col">Brand</th>
							<th scope="col">Name</th>
							<th scope="col">Image</th>
							<th scope="col">Cost price</th>
							<th scope="col">Sell price</th>
							<th scope="col">Discount</th>
							<th scope="col">Category</th>
							<th colspan="2" class="text-end"> Action </th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>@(order++)</td>
								<td>@item.BrandName</td>
								<td>@item.Name</td>
								<td>
									<img src="~/imgs/products/@item.ImageUrl" width="120" />
								</td>
								<td>@item.CostPrice</td>
								<td>@item.SellPrice</td>
								<td>@item.Discount</td>
								<td>@item.CategoryName</td>
								<td>
									<a asp-action="Update" class="btn btn-primary" asp-route-id="@item.Id">Update</a>
								</td>
								<td>
									@if (item.IsDeleted)
									{
										<a asp-action="SoftDelete" class="btn btn-primary-light text-light" asp-route-id="@item.Id">Show</a>
									}
									else{
										<a asp-action="SoftDelete" class="btn btn-secondary text-light" asp-route-id="@item.Id">Hide</a>
									}
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>

